.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
  transition: .4s;
  opacity: 1;
}
.footer__column-link:hover{
  transition: .4s;
  opacity: 0.33;
}
