.header__link {
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
  z-index: 2;
  color: #2f80ed;
  font-weight: normal;
  transition: .4s;
  opacity: 1;
}
.header__link:hover {
  transition: .4s;
  opacity: .33;
}
